include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h2 ICONS

				.container-dashboard__content(style="background: lightgreen;")
					h3 Burger menu
					//menu-toggle
					button.menu-toggle#menu-toggle
						span
					

		script.
			document.addEventListener("DOMContentLoaded", function () {
				const menuButton = document.querySelector('#menu-toggle');
				menuButton.addEventListener('click', ()=> {

				if( menuButton.classList.contains('active')){menuButton.classList.remove('active');
				}else{menuButton.classList.add('active');}
				});
			})
		