.ui-panel
	.ui-panel-block
		.ui-panel-block__part
			
			a(href="http://localhost:3000/").back-index На Главную
			h3 Базовые компоненты
			ul
				li
					a(href="colors.html") Цветовая схема
				li
					a(href="classes.html") Классы
				li
					a(href="grids.html") Контейнер и сетки
				li
					a(href="typography.html") Типографика
				li
					a(href="breadcrumbs.html") Хлебные крошки
				li
					a(href="icons.html") Иконки
				li
					a(href="buttons.html") Кнопки
				li
					a(href="forms.html") Формы
				li
					a(href="components.html") Компоненты
				
		.ui-panel-block__part
			h3 Карточки
			ul
				li
					a(href="cards.html") Карточки
				li
					a(href="short-basket.html") Мини-корзина
				li
					a(href="basket-calculate.html") Карточка стоимости
				li
					a(href="catalogy-menu.html") Каталог меню
				li
					a(href="discount-card.html") Карточка акции
				li
					a(href="assortiment-card.html") Ассортимент
				li
					a(href="acordion.html") Аккордеон	
		
		.ui-panel-block__part
			h3 Секции
			ul
				li
					a(href="our-stories.html") Наши магазины
				li
					a(href="contacts.html") Контакты
				li
					a(href="footers.html") Footers
				li
					a(href="delivery.html") Страница Доставки