.main-404{
	padding-bottom: 0!important;
}
.page-404-img{
	width: 100%;
	max-width: remy(1520);
	aspect-ratio: 152/67;
	position: relative;
	@media (max-width: 767px) {
		overflow: hidden;
		height: 680px;
		display: flex;
		justify-content: center;
	img.visible-sm{
		height:100%;
		width: 1150px;
		max-width: unset;
	}
	.pos-abs{
		bottom: 0;
		right: 0;
		z-index: 2;
	}
	}
	
}
.page-404__content{
	// margin-top: -40px;
	display: flex;
	justify-content: center;
}
.page-404-group{
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	text-align: center;
	@media (max-width: 767px) {
		top: 36%;
		left: 54%;
	}
}
.page-404__num{
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 10rem;
	line-height: .64;
	text-align: center;
	color: var(--temno-siniy);
	display: flex;
	justify-content: center;
	margin-bottom: remy(40);
	.rotate-num{
		// position: relative;
		display: block;
		transform: translateY(-67%)  rotate(-22deg);
		animation-name: rotate;
		animation-timing-function: linear;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}
	@media (max-width: 767px) {
		font-size: 124px;
	}
}
@keyframes rotate{
	to{transform: translateY(-67%)  rotate(-14deg);}
}
.page-404__txt{
	font-family: var(--second-family);
	font-weight: 700;
	font-size: remy(30);
	line-height: 90%;
	letter-spacing: -0.01em;
	text-align: center;
	color: var(--temno-siniy);
	p+p{margin-top: remy(30);}
	@media (max-width: 767px) {
		width: 300px;
		font-size: 16px;
		p+p{margin-top: 15px;}
		.fs-30{font-size: 24px;}
	}
}