.about-page-promo{
	height: remy(611);
	width: 100%;
	@media (max-width: 767px) {
	height: auto;
	}
	
}
.has-bg-video{
	position: relative;
	min-height: 100%;
	// background-color: var(--color-temnyy-siniy);
	overflow: hidden;
	&:before{
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		border-radius: remy(15);
		background: linear-gradient(to right, rgba(0,0,0, .4), rgba(0,0,0, 0));
		z-index: 3;
		@media (max-width: 767px) {
		display: none;
		}
	}
	.pos-abs{
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		left: 0;
		object-fit: cover;
		width: 100%;
		height: 100%;
		
		border-radius: remy(15);
		&+*{
			z-index: 4;
			position: relative;
		}
		@media (max-width: 767px) {
			position: relative;
			min-height: 321px;
			aspect-ratio: 344/321;
			border-radius: 15px 15px 0 0;
		}
	}
	@media (max-width: 767px) {
		
	}
	
}
.about-preview-grid{
	display: flex;
	column-gap:remy(126);
	.about-preview-img{
		width: remy(875);
		aspect-ratio: 875/511;
		border-radius: remy(15);
		overflow: hidden;
		flex-shrink: 0;
	}
	.about-preview-txt{
		flex-grow: 1;
		font-family: var(--font-family);
		font-weight: 400;
		font-size: remy(24);
		line-height: 133%;
		letter-spacing: -0.02em;
		color: var(--color-chernyy);
		p+p{margin-top: 1em;}
	}
	@media (max-width: 767px) {
	 	flex-direction: column;
		row-gap:18px;
		.about-preview-img{
			width: 100%;
			aspect-ratio:344/274;
		}
		.about-preview-txt{
			font-size: 16px;
			line-height: 1.25;
		}
	}
}