.basket-content{
	.header-group{
		align-items:flex-start;
		@media (max-width: 767px) {
		align-items: center;
		}
	}
}
.basket-page .grid-two-columns{
	@media (max-width: 767px) {
		flex-direction: column;
		row-gap: 32px;
	}
	
}