.blog-swiper{
	height: remy(660);
	padding-bottom: remy(95);
	// width: remy(1136);
	.swiper-slide{width:fit-content!important;}
	@media (max-width: 767px) {
		padding-bottom: remy(75);
	     height: 330px;
	}
}
.blog-card{
	overflow: hidden;
	position: relative;
	&__img{
		position: relative;
		&:after{
			content:'';
			position: absolute;
			inset:0;
			background: linear-gradient(to bottom, rgba(0,0,0, .7) 10%, rgba(0,0,0, 0) 100%);
			z-index: 2;
		}
	}
	img{
		border-radius: remy(8);
		height: remy(562);
		width: auto;
		@media (max-width: 767px) {
		 height: 330px;
		}
	}
	&__text{
		position: absolute;
		inset:0;
		z-index: 3;
		color: #f7f7f5;
		font-weight: 700;
		padding: remy(30);
		text-transform: uppercase;
		display: flex;
		flex-direction: column;

		.blog-title{
			font-size: remy(20);
			letter-spacing: -0.02em;
			@media (max-width: 767px) {
			  font-size: 11px;
			}
		}
		.blog-tag{
			font-weight: 500;
			font-size: remy(10);
			line-height: 152%;
			letter-spacing: -0.03em;
			margin-bottom: remy(2);
			@media (max-width: 767px) {
				font-size: 6px;
				line-height: 1.52;
			}
			
		}
		.blog-data{
			font-weight: 900;
			font-size: remy(14);
			line-height: 114%;
			letter-spacing: 0.03em;
			text-transform: uppercase;
			color: #fff;
			margin-top: auto;
			@media (max-width: 767px) {
			font-size: 10px;
			}
		}
		@media (max-width: 767px) {
		  padding: 18px 17px;
		}
	}
}
.blog-swiper{
	@media (max-width: 767px) {
	 padding-bottom: 0;
	}
}
.blog-swiper .swiper__nav{
	@media (max-width: 767px) {
	display: none;
	}
}