.catalogy-filters{
	background-color: #fff;
}
.catalogy-products-filters{
	justify-content: flex-end;
	column-gap:remy(16);
	.dropdown{
		width: remy(191);
	}
	.dropdown-products-count {z-index: 4;}
}
.catalogy-page-header{
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: remy(32);
	.h2{margin-bottom: 0;}
}
.catalogy-products-grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: remy(18);
	@media (max-width: 767px) {
		gap: 11px;
		grid-template-columns: 1fr 1fr;
	}
}
.grid-content-body__footer{
	justify-content: space-between;
	margin-top: remy(18);
	.pagination{
		margin-left: auto;
		@media (max-width: 767px) {
			margin-left: 0;
			margin-right: 0;
		}
		
	}
}
.pagination{
	display: flex;
	align-items: center;
	column-gap:remy(12);
	&-item{
		font-family: var(--font-family);
		font-weight: 700;
		font-size: remy(16);
		line-height: 100%;
		letter-spacing: 0.06em;
		color: var(--color-chernyy);
		display: flex;
		padding: remy(5);
	}
	.item-dot{
		span{
			width: remy(7);
			height: remy(7);
			border-radius: 50%;
			background-color:  var(--color-chernyy);
			margin: 0 remy(5);
		}
	}
	.pagination-item--prev, .pagination-item--next{
		svg{display: none;}
		@media (max-width: 767px) {
			width: 47px;
			height: 47px;
			padding: 0;
			span{display: none;}
		    svg{display:flex;}
		}
	}
	
}
.catalogy-page-content{
	@media (max-width: 767px) {
		.grid-content-left{width: 100%;}
	   .grid-aside{display: none;}
	   .catalogy-page-header, .catalogy-products-filters{
		flex-direction: column;
		row-gap: 16px;
		&>*{width: 100%;}
	   }
	   .catalogy-products-filters{row-gap: 8px;}
	   
	   .grid-content-body__footer{
		flex-direction: column;
		align-items: center;
		row-gap:13px;
		.show-more-cards{width: 100%;}

	   }
	   .catalogy-filters{
		width: 100%;
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: 5;
		padding: 40px 22px;
		transform: translateX(100%);
	   }
	}
}
#show-catalogy{
	display: none;
	@media (max-width: 767px) {
	display: flex;
	white-space: nowrap;
	}
}