.address-card{
	font-size: remy(10);
	font-family: var(--font-family);
	font-weight: 400;
	border-radius: 1.8em;
	padding: 1.2em;
	padding-bottom: 2em;
	background: var(--goluboy);
	address{
		font-family: var(--font-family);
		font-weight: 700;
		font-size: 2.1em;
		line-height: 1.22;
		letter-spacing: 0.03em;
		margin-bottom: 3px;
		
	}

	.work-mode{
		font-size: 1em;
		margin-top: 1.4em;
		.fs-21{
			font-weight: 700;
			font-size: 2.1em;
			line-height: 1.22;
			letter-spacing: 0.03em;
			color: var(--color-smuglyy-yarkiy);
			margin-bottom: .5em;
		}
		.fs-19{
			font-weight: 400;
			font-size: 1.9em;
			line-height: 1.25;
			letter-spacing: -0.02em;
			column-gap: .5em;
		}
	}
}
.geo-app{
	column-gap: remy(20);
}
.contacts-content.flex-col{
	font-size: remy(10);
	row-gap: 4em;
	@media (max-width: 767px) {
		row-gap: 36px;
	}
}
.contact-link{
	font-weight: 400;
	font-size: remy(17);
	color: var(--color-chernyy);
	margin-bottom: 5px;
}
.stores-contacts-grid{
	display: flex;
	font-size: remy(10);
	column-gap: 3em;
	justify-content: space-between;
    @media (max-width: 767px) {
	  flex-direction: column;
	  row-gap:remy(60);
	}
}
.contacts-content{
	width: 100%;
	max-width: 36.5em;
	flex-shrink: 0;
}
.contacts-map-content{
	flex-grow: 1;
	max-width: 102.7em;
	&>*+*{
		margin-top: 3em;
	}
}
.main-page{
	.stores-contacts .contacts-map-content{
		max-width: remy(621);
		display: flex;
		img{
			object-fit: cover;
			object-position: left;
			height: 100%;
		}
	}
}