.delivery-page{
	
	@media (max-width: 767px) {
		.grid-two-columns{row-gap:60px;}
		.grid-two-columns{
			flex-direction: column-reverse;
		}
		
	}
}
.payments{
	row-gap:remy(24);
	width: 100%;
	@media (max-width: 767px) {
		row-gap:16px;
	}
}
.payment-card{
	width: 100%;
	padding: remy(9) remy(14) remy(9) remy(20);
	background-color: #fff;
	border: 1px solid var(--goluboy);
	border-radius: remy(15);
	justify-content: space-between;
	align-items: center;
	column-gap:remy(12);
	&__type{align-items: center;}
	.payment-icon{
		flex-shrink: 0;
	}
	@media (max-width: 767px) {
	   padding: remy(9) remy(12) remy(9) remy(20);
	  .button-blue{
		font-size: 10px;
	  }
	}
}
