
.partners-swiper, .docs-swiper{
	.swiper-wrapper{
		display: flex;
	}
	.swiper-slide{
		height: unset;
		display: flex;
		width: auto!important;
		justify-content: center;
		align-items: center;
	}
	@media (max-width: 767px) {
		.swiper__nav{display: none;}
	}
	
}