.fancy-video-link{
	position: relative;
	width: 100%;
	aspect-ratio: 152/76;
	display: block;
	.btn-play{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 3;
	}
	@media (max-width: 767px) {
	   max-height:589px;
	   width: 100%;
	   aspect-ratio: 344/590;
	}
}
.recept-description{
	.grid-two-columns{
		@media (max-width: 767px) {
		flex-direction: column-reverse;
		row-gap:60px;
		}
	}
}
.recept-steps{
	max-width: remy(1025);
	display: grid;
	grid-template-columns: 1fr;
	row-gap: remy(32);
}
.recept-step{
	&__row{
		align-items: flex-start;
		column-gap: remy(16);
		font-family: var(--font-family);
		font-weight: 400;
		font-size: remy(18);
		letter-spacing: -0.02em;
		line-height: 125%;
		letter-spacing: -0.01em;
		color: var(--temno-siniy);
		margin-bottom: remy(32);
		@media (max-width: 767px) {
			font-size: 14px;
			
		}
	}
	&__txt{
		max-width: remy(815);
	}
	&__num{
		font-family: var(--second-family);
		font-weight: 700;
		font-size: remy(36);
		line-height: 1.17;
		letter-spacing: -0.01em;
		text-align: center;
		color: var(--temno-siniy);
		flex-shrink: 0;
		width: fit-content;
	}
	.h-32{font-weight: 700; margin-bottom: remy(12);font-size: remy(32);letter-spacing: -0.01em;line-height: 1.25;}
}

.table-list{
	
	&__item{
		display: flex;
	    align-items: flex-end;
		column-gap:remy(5);
		margin-bottom: remy(7);

	}
	&__ul{
		padding: remy(20);
		padding-top: 0;
		
	}
	&__left, &__right{
		font-family: var(--font-family);
		font-size: remy(16);
		line-height: 100%;
		letter-spacing: 0.06em;
		color: var(--temno-siniy);
	}
	&__left{
		max-width: remy(200);
		width: fit-content;
		align-items: flex-end;
		column-gap:remy(10);
		font-weight: 700;
		
		
		img{
			width: remy(32);
			height: remy(32);
			object-fit: contain;
			flex-shrink: 0;
		}
	}
	.cell-divider{
		flex: 1;
		border-bottom: 1px solid var(--temno-siniy);
	}
	&__right{
		width: fit-content;
		text-align: right;
		font-weight: 800;
	}
}
.blog-authors__content{
	column-gap: remy(50);
	.btn-outline{margin-left: auto;}
	@media (max-width: 767px) {
	  flex-direction: column;
	  align-items: flex-start;
	  row-gap:20px;
	  .btn-outline{margin-left: 0; width: 100%; max-width: 344px;}
	}	
		
	
}
.blog-author__item{
	column-gap: remy(16);
	img{
		width: remy(56);
		height: remy(56);
		object-fit: cover;
		flex-shrink: 0;
		border-radius: 50%;
	}
	.txt-upper{
		font-weight: 500;
		font-size: remy(16);
		text-transform: uppercase;
		color: #000;
	}
}