//ABOUT
section.about
	.container
		.about-content.two-columns
			.about-text
				h2.h-64 О нас
				.about-desk
					p Наша команда работает по принципу —<br>нет ничего невозможного, именно поэтому<br>Калифорнийская изгородь имеет широкий спектр применения.
					p Наша команда работает по принципу — нет ничего невозможного, именно поэтому Калифорнийская изгородь имеет широкий спектр применения.
				
				a(href="#!").btn.btn--accent Подробнее
			.about-img
				img(src='./img/about.webp', srcset='./img/about@2x.webp 2x' width='699' height='517' loading='lazy' alt='img')
			
			//button visible mobile
			.about-btn-mobile
				a(href="#!").btn.btn--accent Подробнее