//BENEFITS
section.benefits
	.container
		
		h2.h-64.txt-center Преимущества
		.benefits-banner.br-16
			img.img-cover(src='./img/banner-benefits.webp', srcset='./img/banner-benefits@2x.webp 2x' width='1520' height='343' loading='lazy' alt='img')
		
		.benefits-cards
			
			//single card
			.benefit-card
				.benefit-card__icon
					img(src='./img/icons/b1.webp', srcset='./img/icons/b1@2x.webp 2x' width='54' height='54' loading='lazy' alt='img')
				.benefit-card__group
					.h-30 Инструменты
					.fs-24 технологично быстро надежно
			
			//single card
			.benefit-card
				.benefit-card__icon
					img(src='./img/icons/b2.webp', srcset='./img/icons/b2@2x.webp 2x' width='54' height='54' loading='lazy' alt='img')
				.benefit-card__group
					.h-30 Kak nastoyachie
					.fs-24 технологично быстро надежно
			
			//single card
			.benefit-card
				.benefit-card__icon
					img(src='./img/icons/farmer.webp', srcset='./img/icons/farmer@2x.webp 2x' width='54' height='54' loading='lazy' alt='img')
				.benefit-card__group
					.h-30 Опыт работы
					.fs-24 технологично быстро надежно