//POPPULARE
section.catalogy-products
	.container
		h2.h-64 Каталог
		.catalogy-swiper.product-swiper.swiper
			.swiper-wrapper
				.swiper-slide
					+product-card('prod1', 'Topiariy jivotniye', '200 000')
				.swiper-slide
					+product-card('prod2', 'Topiariy jivotniye', '200 000')
				.swiper-slide
					+product-card('prod3', 'Топиарий ландшафтный')
				.swiper-slide
					+product-card('prod4', 'Топиарий ландшафтный', '200 000')
				.swiper-slide
					+product-card('prod5', 'Topiariy jivotniye')
				.swiper-slide
					+product-card('prod1', 'Топиарий ландшафтный', '200 000')
				.swiper-slide
					+product-card('prod2', 'Topiariy jivotniye')
				.swiper-slide
					+product-card('prod3', 'Topiariy jivotniye', '200 000')
			
			//SWIPER NAV
			.swiper__nav
				.product-swiper-prev.swiper-button-prev
					
				.product-swiper-next.swiper-button-next
					