header.header
	.container
		.header-content.flex
			a.logo(href="index.html") ИЗГОРОДЬ
			
			//city select
			.custom-select.city-select
				.custom-select-trigger
					span Санкт-Петербург
				.custom-options
					span.custom-option(data-value='Санкт-Петербург') Санкт-Петербург
					span.custom-option(data-value='Москва') Москва
					span.custom-option(data-value='Нижний Новгород') Нижний Новгород
					span.custom-option(data-value='Самара') Самара
			//menu-toggle
			button.menu-toggle#menu-toggle
				span
	

