//УСЛУГИ
section.our-services
	.container
		h2.h-64.txt-center Что мы делаем
		.our-services-grid
			//row
			.services-item.services-item-hedge
				.services-item__txt
					.h-30 Изгороди
					p Наша команда работает по принципу — нет ничего невозможного, именно поэтому Калифорнийская изгородь имеет широкий спектр применения. 
				.services-item__image
					img(src='./img/serv1.webp', srcset='./img/serv1@2x.webp 2x' width='1001' height='294' loading='lazy' alt='img')
			//row
			.services-item.services-item-form
				.services-item__image
					img(src='./img/serv2.webp', srcset='./img/serv2@2x.webp 2x' width='620' height='429' loading='lazy' alt='img')
					img(src='./img/serv3.webp', srcset='./img/serv3@2x.webp 2x' width='490' height='429' loading='lazy' alt='img')
				.services-item__txt
					.h-30 МАФы
					p Наша команда работает по принципу — нет ничего невозможного, именно поэтому Калифорнийская изгородь имеет широкий спектр применения.
			//row
			.services-item.services-item-install
				.services-item__txt
					.h-30 Монтажные работы
					p Наша команда работает по принципу — нет ничего невозможного, именно поэтому Калифорнийская изгородь имеет широкий спектр применения.
				.services-item__image
					img(src='./img/serv4.webp', srcset='./img/serv4@2x.webp 2x' width='746' height='258' loading='lazy' alt='img')