//SALE
section.bonus
	.container
		.bonus-content.br-16
			.bonus-content__left
				.h-60 Скидка 5%<br>на первый заказ
			
			.bonus-content__right
				form.bonus-form
					.form-item
						input.inp.inp-round(type="text" name="email" placeholder="E-mail")
					.form-button
						button.white-button(type="submit") Оставить заявку
					.agree-block
						p.txt-white Подписываясь, я принимаю 
							a.a-gradient(href="#!") условия эксплуатации