
.btn,.btn-dark, .btn-outline, .btn-light,.btn-white{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 1rem;
	height: remy(52);
	border-radius: remy(30);
	line-height: 1;
	letter-spacing: 0.06em;
	padding-inline: remy(30);
	color: var(--color-belyy);
	background: var(--svetlo-siniy);

}
.btn:hover{
	background: var(--goluboy);
	color: var(--svetlo-siniy);
	
}
.btn:active{background: var(--color-svetlyy-);color: var(--svetlo-siniy);}
.btn-outline{
	background: var(--color-belyy);
	border: 1px solid var(--temno-siniy);
	color: var(--temno-siniy);
	&:hover{background: rgba(255, 255, 255, 0.8); border: 1px solid rgba(19, 36, 57, 0.8); }
}
.btn-white{
	background-color: #fff;
	font-size: remy(20);
	letter-spacing: 0.03em;
	color: var(--temno-siniy);
}
.btn-dark{
	
	background: var(--temno-siniy);
	&:hover{
		background: rgba(19, 36, 57, 0.8);
		color: rgba(255, 255, 255, 0.8);
	}
	&:active{
		background: #061e3a;
		color: var(--color-belyy);
	}
}
.btn-light{
	background: rgba(77, 101, 131, .5);
	border: 0;
	font-weight: 500;
	font-size: remy(14);
	text-align: center;
	color: #f8fafc;
}
.btn-44{
	font-weight: 500;
    font-size: remy(14);
	height: remy(44);
}
.h-50{
	height: remy(50);
	font-family: var(--font-family);
	font-weight: 800;
	font-size: куьн(16);
	line-height: 1.25;
	letter-spacing: -0.02em;
	color: var(--temno-siniy);
}

.btn-catalogy{
	height: remy(56);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	column-gap:remy(15);
	padding-inline: remy(30);
	border-radius: remy(30);
	font-family: var(--font-family);
	font-weight: 700;
	font-size: remy(16);
	background: var(--color-belyy);
	color: var(--color-smuglyy);
	line-height: 1;
}
.cart-btn{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	column-gap:remy(12);
	font-size: remy(16);
	line-height: 1;
	color: var(--color-smuglyy);
	border-radius: 40px;
	flex-shrink: 0;
	width: remy(44);
	height: remy(44);
	line-height: 1;
	background-color:  var(--color-smuglyy);
	svg.svg-cart{color: var(--color-belyy);}
	transition: .3s; 
	&:hover{opacity: .8;}
	@media (max-width: 1023.99px) {
		
		padding: 0;
		
	  .fw-700{display: none;}
	}
	@media (max-width: 767px) {
	  width: remy(30);
	  height: remy(30);
	  .svg-cart{
		width: remy(17);
		height: remy(14);
	  }
	}
}
.cart-btn.cart-btn--transform{
	@media (min-width: 768px) {
		border:1px solid var(--color-svetlyy-);
		background: var(--color-svetlyy-);
		width: fit-content;
		padding-inline: remy(25);
		height: remy(52);
		svg.svg-cart{color: var(--color-smuglyy);}
	}
}
.buttons-column{
	display: flex;
	flex-direction: column;
	row-gap:remy(16);
	&>*{width: 100%;}
}
.button-blue{
	text-align: center;
	border-radius: remy(15);
	height: remy(48);
	display: inline-flex;
	padding-inline: remy(50);
	
	justify-content: center;
	align-items: center;
	column-gap: remy(10);
	background-color: var(--goluboy);
	font-family: var(--font-family);
	font-weight: 700;
	font-size: remy(16);
	letter-spacing: 0.06em;
	color: var(--temno-siniy);
	transition: .3s; 
	&:hover{opacity: .8;}
	@media (max-width: 767px) {
		padding-inline: 23px;
		border-radius: 10px;
		height: 34px
	}
}
.round-arrow{
	width: remy(55);
	height: remy(55);
	border-radius: 50%;
	border:1px solid var(--temno-siniy);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink:0;
	background-color: #fff;
}
.round-arrow.round-arrow--dark{
	background-color: var(--temno-siniy);
	svg{color: white;}
	&:hover{opacity: .5;}
}
.round-arrow-link{
	display: flex;
	width: fit-content;
	align-items: center;
	column-gap: remy(16);
	font-family: var(--font-family);
	font-weight: 700;
	font-size: remy(16);
	line-height: 100%;
	letter-spacing: 0.06em;
	color: var(--temno-siniy);
}
.round-arrow-link.border-link{
	border: 1px solid var(--goluboy);
	border-radius: remy(15);
    padding: remy(8);
	.round-arrow{
		width: remy(32);
		height: remy(32);
	}
	svg{width: remy(14); height: remy(9);}

}
.btn-outline.fw-900{
	font-weight: 900;
	font-size: remy(20);
}