
.svg-phone{
	width: 18px;
	height: 19px;
	display: block;
	color: white;
	transition: .3s; 
}
.svg-star, .svg-tree{
	width: 34px;
	height: 34px;
	display: block;
	color: #323232;
}
.svg-arrLeft, .svg-arrRight{
	color: #1F4719;
	width: 12px;height: 24px;
	display: block;
}
svg.svg-cart{
	display: block;
	width:26px;
	height: 22px;
	color: white;
	fill: transparent;
}