.h-96{
	font-family: var(--second-family);
	font-weight: 800;
	font-size: 96px;
	line-height: 1;
	color: #8fb53e;
	@media (max-width: 1599px) {
	  font-size: 88px;
	}
	@media (max-width: 1439px) {
	  font-size: 80px;
	}
	@media (max-width: 1364px) {
	  font-size: 70px;
	}
	@media (max-width: 1023px) {
	  font-size: 60px;
	}
	@media (max-width: 767px) {
		font-size: 40px;
		line-height: 1.27;
	}
}
.h-64{
	font-family: var(--second-family);
	font-weight: 800;
	font-size: 64px;
	line-height: 1;
	color: #8fb53e;
	margin-bottom: .625em;
	@media (max-width: 1279px) {
	  font-size: 58px;
	}
	@media (max-width: 1199px) {
	  font-size: 50px;
	   margin-bottom: 30px;
	}
	@media (max-width: 1023px) {
	 font-size: 40px;
	
	}
	@media (max-width: 767px) {
	  font-size: 26px;
	}
}
.txt-40{
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 40px;
	@media (max-width: 1599px) {
	 font-size: 36px;
	}
	@media (max-width: 1023px) {
		 font-size: 30px;
	}
	@media (max-width: 767px) {
		font-size: 16px;
		line-height: 1.2;
	}
	
}
.txt-20{
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 20px;
	letter-spacing: -0.02em;
}
.txt-white{color: white;}
.a-gradient{
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: center bottom 1px;
	background-size: 100% 1px;
	background-image: linear-gradient(to right, black, black);
	transition: .3s; 
}
.a-gradient:hover {
	opacity: .7;
}
.txt-white .a-gradient{
	background-image: linear-gradient(to right, white, white);
}
.txt-center{text-align: center; margin-inline: auto;}
.br-16{
	border-radius: 16px;
	@media (max-width: 1023px) {
	border-radius: 12px;
	}
}
.icon-text,.phone-link{
	display: flex;
	align-items: center;
	column-gap:13px;
	img, svg{flex-shrink: 0;}
}