.h-96{
	font-family: var(--second-family);
	font-weight: 800;
	font-size: 96px;
	line-height: 1;
	color: #8fb53e;
	@media (max-width: 1599px) {
	  font-size: 88px;
	}
	@media (max-width: 1439px) {
	  font-size: 80px;
	}
	@media (max-width: 1364px) {
	  font-size: 70px;
	}
	@media (max-width: 1023px) {
	  font-size: 60px;
	}
	@media (max-width: 767px) {
		font-size: 40px;
		line-height: 1.27;
	}
}
.h-64{
	font-family: var(--second-family);
	font-weight: 800;
	font-size: 64px;
	line-height: 1;
	color: #8fb53e;
	@media (max-width: 767px) {
	  font-size: 26px;
	}
}
.txt-40{
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 40px;
	@media (max-width: 1599px) {
	 font-size: 36px;
	}
	@media (max-width: 1023px) {
		 font-size: 30px;
	}
	@media (max-width: 767px) {
		font-size: 16px;
		line-height: 1.2;
	}
	
}
.txt-20{
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 20px;
	letter-spacing: -0.02em;
}
.txt-white{
	color: white;
}
.icon-text,.phone-link{
	display: flex;
	align-items: center;
	column-gap:13px;
	img, svg{flex-shrink: 0;}
}