.acordion{
	background-color: #fff;
	display: grid;
	grid-template-columns: 1fr;
	row-gap: remy(32) ;
	&-group{
		border: 1px solid var(--color-seryy);
		border-radius: remy(15);
		padding-inline: remy(32);
		padding-top: 0;
	}
	&-header{
		padding-block: remy(24);
		display: flex;
		align-items: center;
		@media (max-width: 767px) {
		 padding-block: remy(20);
		}

	}
	&-title{
		font-family: var(--second-family);
		font-weight: 700;
		font-size: remy(40);
		line-height: 1;
		letter-spacing: -0.01em;
		color: var(--temno-siniy);
		flex:1;
		@media (max-width: 767px) {
			font-weight: 400;
			font-size: 1rem;
			letter-spacing: -0.02em;
		}
	}
	&-icon{
		width: remy(64);
		height: remy(64);
		flex-shrink: 0;
		border-radius: 50%;
		background-color: var(--temno-siniy);
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='26' height='27' viewBox='0 0 26 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='0.199219' y='12.5' width='25.59' height='2' fill='white' /%3e%3crect x='14' y='0.710938' width='25.59' height='2' transform='rotate(90 14 0.710938)' fill='white' /%3e%3c/svg%3e");
		background-size: remy(26) remy(26);
		background-repeat: no-repeat;
		background-position: center;
		transition: .3s; 
		@media (max-width: 767px) {
		width: remy(32);
		height: remy(32);
		background-size: remy(14) remy(14);
		}
	}
	&-body{display: none;}
	&-body__content{
		border-top: 1px solid var(--color-seryy);
		padding-top: remy(24);
		padding-bottom: remy(32);
		font-weight: 400;
		font-size: remy(24);
		line-height: 1.33;
		letter-spacing: -0.02em;
		color: var(--temno-siniy);
		@media (max-width: 767px) {
			font-size: remy(14);
			padding-top: remy(20);
			padding-bottom: remy(24);
		}
	}
	@media (max-width: 767px) {
	row-gap:16px;
	}
}
.acordion-group.active{
	.acordion-body{display: block;}
	.acordion-icon{
		background-color: var(--color-seryy);
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='26' height='27' viewBox='0 0 26 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='0.199219' y='12.5' width='25.59' height='2' fill='white' /%3e%3crect x='14' y='0.710938' width='25.59' height='2' transform='rotate(90 14 0.710938)' fill='transparent' /%3e%3c/svg%3e");
	}
}
.acordion.acordion-transform{
	.acordion-group {padding-inline:0}
	.acordion-header{
		padding-block:remy(20);
		padding-inline: remy(20);
	}
	.acordion-arrow{display: none;}
	.acordion-body{display: block;}
	@media (max-width: 767px) {
		.acordion-arrow{display: flex; margin-left: auto;}
		.acordion-body{display: none;}
		.acordion-group.active{
			.acordion-arrow{transform: rotate(180deg);}
			.acordion-body{display: block;}
		}
		
	}
}