.basket-card,.basket-card__group{display: flex;}
	
	

.basket-card{
   width: 100%;
   color: var(--color-chernyy);
   font-size: remy(16);
   column-gap: remy(32);
   padding-block:1rem;
   border-top: 1px solid var(--goluboy);
	&__img{
		height: 100%;
		width: remy(194);
		border-radius: remy(10);
		overflow: hidden;
		@media (max-width: 767px) {
		 width: 83px;
		}
		
	}
	&__title{
		display: flex;
		flex-direction: column;
		justify-content: center;
		row-gap:remy(16);
		flex: 1;
		// &>*{width: 100%;}
	}
	.product-name{
		font-family: var(--font-family);
		font-weight: 900;
		font-size: remy(24);
		letter-spacing: -0.02em;
		  display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;  
		overflow: hidden;
		
	}
	.product-info{
		font-weight: 400;
		
		line-height: 125%;
		letter-spacing: -0.02em;
	}

	&__group{
		column-gap: remy(48);
		flex: 1;
		align-items: center;
	}
	.basket-card__counter{
		width: remy(180);
	}
	.basket-card__cost{
		width: remy(140);
	}
	.basket-card__btn{
		width: remy(30);
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		
	}
	.remove-button:hover{
		.svg-delete{color: red;}
	}
	@media (max-width: 767px) {
		  column-gap: remy(16);
	  .basket-card__img{
		border-radius: 10px;
		width: remy(83);
		height: remy(83);
	  }
	   .basket-card__group{
		  flex-wrap: wrap;
		  row-gap: 1rem;
		  column-gap:remy(10);
	   }
	   .basket-card__title{
			width: calc(100% - remy(40));
			flex: unset;
			flex-shrink: 0;
			order:1;
			font-size: remy(16);
			line-height: 1.29;
			letter-spacing: 0.03em;
			color: var(--color-chernyy);
			
			.product-info{display: none;}
	   }
	   .product-name{
		font-size: remy(16);
		line-height: 100%;
		letter-spacing: 0.06em;
	   }
	   .basket-card__btn{order:2; }
	   .basket-card__counter{
			order:3;
			width: calc(50% - 8px);
		
	   }
	   .basket-card__cost{
			order:4;
			width: calc(50% - remy(8));
			text-align: right;
			
	   }
	   .cost-block .cost-block__new{
			font-size: remy(17);
			line-height: 129%;
			letter-spacing: 0.03em;
	   }
	   .basket-card__btn{
			width: remy(24);
			height: remy(24);
			border-radius: remy(4);
			background: var(--goluboy);
				.svg-delete{
					width: remy(14);
					height: remy(18);
				}
		}
		.cost-block .cost-block__old{font-size: remy(10);}
		.cost-block{
			row-gap:4px; letter-spacing: 0.03em;
				color: var(--svetlo-siniy);
			}
		.counter{
		    width: remy(118);
			column-gap:remy(6);
			padding-inline:remy(6);
		
			.counter-value{
				font-size: remy(14);
				line-height: 129%;
				letter-spacing: -0.03em;
				height: remy(26);
				width: remy(50);
				
			}
			.counter-input span{
				font-size: remy(14);
				line-height: 1.29;
				letter-spacing: -0.03em;
			}
			.counter-plus, .counter-minus{
				width: remy(12);
				height: remy(12);
			}
		}
		
	}
}
.short-basket {
	max-width: remy(364);
}
.basket-card.basket-card--mini{
      column-gap: remy(16);
	  .basket-card__img{
		border-radius: 10px;
		width: remy(83);
		height: remy(83);
	  }
	   .basket-card__group{
		  flex-wrap: wrap;
		  row-gap: 1rem;
		  column-gap:remy(10);
	   }
	   .basket-card__title{
			width: calc(100% - remy(40));
			flex: unset;
			flex-shrink: 0;
			order:1;
			font-size: remy(16);
			line-height: 1.29;
			letter-spacing: 0.03em;
			color: var(--color-chernyy);
			
			.product-info{display: none;}
	   }
	   .product-name{
		font-size: remy(16);
		line-height: 100%;
		letter-spacing: 0.06em;
	   }
	   .basket-card__btn{order:2; }
	   .basket-card__counter{
			order:3;
			width: calc(50% - 8px);
		
	   }
	   .basket-card__cost{
			order:4;
			width: calc(50% - remy(8));
			text-align: right;
			
	   }
	   .cost-block .cost-block__new{
			font-size: remy(17);
			line-height: 129%;
			letter-spacing: 0.03em;
	   }
	   .basket-card__btn{
			width: remy(24);
			height: remy(24);
			border-radius: remy(4);
			background: var(--goluboy);
				.svg-delete{
					width: remy(14);
					height: remy(18);
				}
		}
		.cost-block__old{font-size: remy(10);}
		.cost-block{
			row-gap:4px; letter-spacing: 0.03em;
				color: var(--svetlo-siniy);
			}
		.counter{
		    width: remy(118);
			column-gap:remy(6);
			padding-inline:remy(6);
		
			.counter-value{
				font-size: remy(14);
				line-height: 129%;
				letter-spacing: -0.03em;
				height: remy(26);
				width: remy(50);
				
			}
			.counter-input span{
				font-size: remy(14);
				line-height: 1.29;
				letter-spacing: -0.03em;
			}
			.counter-plus, .counter-minus{
				width: remy(12);
				height: remy(12);
			}
		}
		
	}

.short-basket{
	&__header{
		.fs-24{
			font-family: var(--second-family);
			font-weight: 400;
			font-size: remy(24);
			line-height: 133%;
			letter-spacing: -0.02em;
			color: #1c1c1c;
		}
	}
}
.cost-block{
	display: flex;
	flex-direction: column;
	font-family: var(--font-family);
	row-gap:remy(8);
	letter-spacing: -0.02em;
	text-transform: uppercase;
	color: var(--temno-siniy);
	
    .cost-block__old{
		white-space: nowrap;
		font-size: remy(16);
		font-weight: 400;
		letter-spacing: -0.02em;
		text-transform: uppercase;
		text-decoration: line-through;
		color: var(--color-tekst-seryy);
	}
	.cost-block__new{
		white-space: nowrap;
		font-weight: 900;
	   font-size: remy(24);
	}
	@media (max-width: 767px) {
	   row-gap:remy(2);
	}
}

