.catalogy .catalogy-form{
	display: flex;
	flex-direction: column;
	row-gap: remy(24);
	&>*{width: 100%;}
}
.catalogy-menu{
	font-family: var(--font-family);
	background-color: #fff;
	.catalogy-item{
		// padding-top: remy(16);
		padding-bottom: remy(16);
		
	}
	.catalogy-item__btn{
		border-bottom: 1px solid var(--goluboy);
		padding-top: remy(16);
		padding-bottom: remy(24);
		padding-right: remy(10);
		display: flex;
		align-items: center;
		justify-content: space-between;
		.catalogy-item__name{
			flex: 1;
			font-weight: 500;
			font-size: remy(20);
			line-height: 1.20;
		    text-align: left;
			letter-spacing: 0.02em;
			color: var(--temno-siniy);
		}
	}
	
	.catalogy-category__btn{
		display: flex;
		align-items: center;
		column-gap: remy(16);
		font-size: remy(16);
		padding-block: 1em;
		padding-right: remy(10);
		border-bottom: 1px solid var(--goluboy);
	}
	.catalogy-category:last-child .catalogy-category__btn, .catalogy-category:last-child .catalogy-sub {border-bottom: 0;}
	.active .catalogy-category__btn{
		color: var(--svetlo-siniy);
		
		// svg{color: var(--svetlo-siniy);}
	}
	.catalogy-category__icon{
		width: remy(32);
		height: remy(32);
		flex-shrink: 0;
	}
	.catalogy-category__cat{
		flex:1;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 1rem;
		line-height: 1.1;
		letter-spacing: 0.02em;
		color: var(--temno-siniy);
	}
	.catalogy-sub{
		padding-bottom: remy(15);
		border-bottom: 1px solid var(--goluboy);
	}
	.catalogy-sub__item{
		padding: remy(15) remy(10);
		padding-left: remy(24);
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: remy(16);
		line-height: 1;
		letter-spacing: -0.02em;
		color: var(--temno-siniy);
		transition: .2s; 
		&:hover{
			color: var(--svetlo-siniy);
		}
	}
	.has-drop-content, .has-subdrop-content{display: none;}
	.catalogy-item.active {
		border-bottom: 1px solid var(--goluboy);
		.has-drop-content{display: block;}
		.carret-down{transform: rotate(180deg);}
	}
	.has-drop-content{ padding-top: remy(16);}
	.has-subdrop.active  .has-subdrop-content{display: block;}
	.has-subdrop.active {
		.catalogy-category__icon svg, .catalogy-category__cat{color:var(--svetlo-siniy);}
		.catalogy-category__btn{border-bottom-color:transparent;}
	}
	
}
.catalogy-buttons{

	&>*+*{margin-top: remy(24)}
}