.social{
	font-size: remy(10);
}
.social, .social-link{
	display: flex;
	column-gap: 1.7em;
	align-items: center;
}
.social-link{
	justify-content: center;
	flex-shrink: 0;
	height: remy(34);
	img{
		height: 100%;
		width: auto;
	}
}
.social-block__title{
	font-size: 2.7em;
	margin-bottom: .6em;
	line-height: 1;
	letter-spacing: 0.03em;
	color: var(--color-chernyy);
}
.social.social--bg{
	.social-link{
		width: 3em;
		height: 3em;
		border-radius: 50%;
		background-color: #fff;
		padding-block: remy(8);
		
	}
}