.swiper .swiper-button-next, .swiper  .swiper-button-prev{
	position: relative;
	inset:auto;
	transform: unset;
	width: 62px;
	height: 62px;
	border-radius: 50%;
	border:1px solid #8FB53E;
	margin: 0;
	&:after, &:before{display: none;}
	@media (max-width: 1199px) {
	width: 54px;
	height:54px;
	}
	@media (max-width: 767px) {
	width: 40px;
	height: 40px;
	}
}
.swiper .swiper__nav{
	position: relative;
	display: flex;
	column-gap:26px;
	align-items: center;
	justify-content: flex-end;
	margin-top: 40px;
	.product-swiper-next,
	.product-swiper-prev{
		position: relative;
		inset:auto;
		transform: unset;
		width: 62px;
		height: 62px;
		border-radius: 50%;
		border:1px solid #8FB53E;
		margin: 0;
	}
	.product-swiper-next{padding-left: 3px;}
	.product-swiper-prev{padding-right: 3px;}
	.swiper-button-next:after, .swiper-button-prev:after{font-size: 24px; color: #1F4719;}
}
.swiper-wrapper{
	display: flex;
}
.swiper-slide{
	height: unset;
	display: flex;
}
.swiper .swiper-pagination{
	display: flex;
	align-items: center;
	justify-content: center;
	
	column-gap: remy(8);
	.swiper-pagination-bullet{
		margin: 0;
		height: remy(10);
		border-radius: 5px;
		flex:1;
		max-width: remy(80);
		background-color:  #6f6f6f;;
		opacity: 1;
		@media (max-width: 767px) {
			max-width: remy(70);
			height: remy(7);
		}
	}
	.swiper-pagination-bullet-active{background: var(--goluboy);}
}
.fotorama-swiper-pagination.swiper-pagination .swiper-pagination-bullet{
	@media (max-width: 767px) {
		max-width: 10px;
		width: 10px;
		height: 10px;
		background-color: var(--color-svetlyy-);;
		&.swiper-pagination-bullet-active{background:  var(--temno-siniy);;}
	}
}
